    body {
      margin: 0;
      font-family: system-ui, -apple-system, BlinkMacSystemFont,
        "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji",
        "Segoe UI Emoji";
      background-color: #000;
      color: #fff;
    }
    a:focus-visible {
      outline-offset: 2px;
    }
      html {
    scroll-behavior: smooth; /* ✅ smooth scrolling */
  }

    @keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}
.animate-fadeIn {
  animation: fadeIn 1.2s ease-in-out forwards;
}